<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/tablesort.css" />
  </head>
  <body>
    <div><a href="/">Home</a></div>
    {{> flash}}
    {{{body}}}
  </body>
</html>
